html{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    height: 100%;
}

.container{
    background-color: #2a74f5;
    border-radius: 10px;
    height: 100%;
}

.container h1{
    margin-left: 25%;
}

.container form{
    margin-left: 25%;
    
}
.entrada{
    border-radius: 10px;
    height: 40px;
    width: 50%;
}

.ingresar{
    height: 100px;
    width: 70%;
    border-radius: 10px;
    background-color: #f478f1;
    color: white;
}